.volume-container {
  width: 200px;
  height: 450px;
  background-color: rgb(214, 214, 214);
  border-radius: 15px;
  padding: 20px;
}

label {
  color: rgb(70, 70, 70);
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.meter-background {
  border-radius: 5px;
  height: 370px;
  width: 3vw;
  background-color: rgb(46, 46, 46);
}

.volume-button {
  width: 120px;
  height: 100px;
  border-radius: 15px;
}

mat-icon {
  scale: 4;
  margin-right: 0px !important;
  margin-left: 0.5px !important;
}
